@{
    ViewData["Title"] = "CreateMealPlan";
}

<head>
    <link rel="stylesheet" href="~/css/createmember.css" asp-append-version="true" />
</head>

<form method="post">
    <div class="u-form-group u-form-name u-label-top">
                            <label class="u-label u-text-custom-color-1 u-label-1">Название плана питания</label>
                            <input
                              type="text"
                              placeholder="Введите название плана питания"
                              name="mealPlanName"
                              class="u-input u-input-rectangle"/>
                          </div>
                          <div class="u-form-email u-form-group u-label-top">
                            <label class="u-label u-text-custom-color-1 u-label-2">Стоимость</label>
                            <input
                              type="number"
                              placeholder="Введите стоимость"
                              step="1"
                              name="mealPlanPrice"
                              class="u-input u-input-rectangle"/>
                          </div>
    <div class="u-align-right u-form-group u-form-submit u-label-top">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Сохранить" class="u-active-custom-color-6 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-1" /></div>
    </div>
</form>
