@using HotelContracts.ViewModels


@model List<DinnerViewModel>

@{
	ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/mainpage.css" asp-append-version="true" />
</head>
<section class="u-clearfix u-section-1" id="sec-83a8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div
                class="u-container-style u-layout-cell u-size-30 u-layout-cell-1"
              >
                <div
                  class="u-container-layout u-valign-bottom u-container-layout-1"
                >
                  <h2
                    class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
                  >
                    Гостиница
                  </h2>
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-size-30 u-layout-cell-2"
              >
                <div
                  class="u-container-layout u-valign-top u-container-layout-2"
                  style="padding-bottom: 120px"
                >
                  <img
                    class="u-image u-image-contain u-image-1"
                    src="~/Images/logo.png"
                    data-image-width="2388"
                    data-image-height="1260"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>