@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h2 class="u-text u-text-custom-color-1 u-text-default u-text-1"> Регистрация </h2>
</div>
<form method="post">
    <div class="u-form-group u-form-name u-label-top">
                        <label class="u-label u-text-custom-color-1 u-label-1">Логин</label>
                        <input
                          type="text"
                          placeholder="Введите логин"
                          name="login"
                          class="u-input u-input-rectangle"/>
                      </div>
                      <div class="u-form-email u-form-group u-label-top">
                        <label class="u-label u-text-custom-color-1 u-label-2">Электронная почта</label>
                        <input
                          type="email"
                          placeholder="Введите электронную почту"
                          name="email"
                          class="u-input u-input-rectangle"/>
                      </div>
    <div class="u-form-group u-label-top u-form-group-3">
                        <label class="u-label u-text-custom-color-1 u-label-3">ФИО</label>
                        <input
                          type="text"
                          placeholder="Введите ФИО"
                          name="fio"
                          class="u-input u-input-rectangle"/>
                      </div>
                      <div class="u-form-group u-label-top u-form-group-4">
                        <label class="u-label u-text-custom-color-1 u-label-4">Номер телефона</label>
                        <input
                          type="text"
                          name="telephone"
                          class="u-input u-input-rectangle"
                          placeholder="Введите номер телефона"/>
                      </div>
                      <div class="u-form-group u-label-top u-form-group-5">
                        <label class="u-label u-text-custom-color-1 u-label-5">Пароль</label>
                        <input
                          type="password"
                          placeholder="Введите пароль"
                          name="password"
                          class="u-input u-input-rectangle"/>
                      </div>
    <div class="u-align-center u-form-group u-form-submit u-label-top"
                        style="padding-bottom: 120px">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Зарегистрироваться" class="u-active-custom-color-6 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-1" /></div>
    </div>
</form>



