﻿@using HotelContracts.ViewModels;
@using HotelDataModels.Models;

@{
	ViewData["Title"] = "AddConferenceBookingToConference";
}

<form method="post">
	<div class="u-form-group u-form-name u-label-top">
		<label class="u-label u-text-custom-color-1 u-label-1">Конференция: </label>
		<div class="u-input u-input-rectangle">
			<select id="conference" name="conference" class="form-control" asp-items="@(new SelectList(@ViewBag.Conferences, "Id", "ConferenceName"))"></select>
		</div>
	</div>
	<div class="u-form-group u-form-name u-label-top">
		<label class="u-label u-text-custom-color-1 u-label-1">Зал концеренций: </label>
		<div class="u-input u-input-rectangle">
			<select id="conferenceBooking" name="conferenceBooking" class="form-control" asp-items="@(new SelectList(@ViewBag.ConferenceBookings, "Id", "NameHall"))"></select>
		</div>
	</div>

	<div class="u-form-email u-form-group u-label-top">
        <label class="u-label u-text-custom-color-1 u-label-2">Начало</label>
        <input
			type="datetime-local"
            placeholder="Выберите дату начала"
            name="bookingDate"
            class="form-control"/>
        </div>
	<br>
     <div class="u-container-layout u-container-layout-2">
        <input type="submit" value="Добавить конференцию" class="btn btn-outline-dark text-center d-flex justify-content-md-center" />
      </div>
</form>