﻿@{
    ViewData["Title"] = "CreateConferenceBooking";
}


<form method="post">
    <div class="form-group">
                            <label class="u-label u-text-custom-color-1 u-label-1">Название зала</label>
                            </div>
                            <input
                              type="text"
                              placeholder="Введите название зала"
                              name="nameHall"
                              class="form-control"/>
                          <br>
   <div class="u-container-layout u-container-layout-2">
           <input type="submit" value="Сохранить" class="btn btn-outline-dark text-center d-flex justify-content-md-center" /> </div>
</form>