@{
	ViewData["Title"] = "DeleteRoom";
}

<form method="post">
   <div class="container d-flex justify-content-center align-items-center0">
      <div class="card-body">
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-1">Комнаты: </label>
         <select id="room" name="room" class="form-control" asp-items="@(new SelectList(@ViewBag.Rooms, "Id", "RoomName"))"></select>
		</div>
	<br>
      <div class="u-container-layout u-container-layout-2">
        <input type="submit" value="Сохранить" class="btn btn-outline-dark text-center d-flex justify-content-md-center" />
       </div>
    </div>
  </div>
</form>