@{
	ViewData["Title"] = "Register";
}
<div class="text-center">
	 <h2 class="u-text u-text-custom-color-1 u-text-default u-text-1"> Регистрация </h2>
</div>
<form method="post">
  <div class="container d-flex justify-content-center align-items-center">
      <div class="card-body">
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-1">Логин</label>
          <input
            type="text" 
            placeholder="Введите логин"
            name="login"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-2">Электронная почта</label>
          <input
            type="email"
            placeholder="Введите электронную почту"
            name="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-3">ФИО</label>
          <input
            type="text"
            placeholder="Введите ФИО"
            name="fio"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-4">Номер телефона</label>
          <input
            type="text"
            name="telephone"
            class="form-control"
            placeholder="Введите номер телефона"
          />
        </div>
        <div class="form-group">
          <label class="u-label u-text-custom-color-1 u-label-5">Пароль</label>
          <input
            type="password"
            placeholder="Введите пароль"
            name="password"
            class="form-control"
          />
        </div>
       <br>
        <div class="form-group text-center" style="padding-bottom: 120px;">
          <button type="submit" class="btn btn-outline-dark text-center d-flex justify-content-md-center">Зарегистрироваться</button>
        </div>
      </div>
  </div>
</form>